In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A', 'B', 'C', 'D'])

df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
#labels 就是要删除的行列的名字，用列表给定
#axis 默认为0，指删除行，因此删除columns时要指定axis=1

#https://blog.csdn.net/songyunli1111/article/details/79306639
df = df.drop(['B', 'C'], axis=1)
df

   A   D
0  0   3
1  4   7
2  8  11

In [ ]:
#https://medium.com/@yanweiliu/python-pandas%E4%BD%BF%E7%94%A8%E7%AD%86%E8%A8%98-a4682e254d90

In [ ]:
https://blog.csdn.net/u013077328/article/details/93997014